* {
    padding:0px;
    font: 11px;
    font-family: chivo;
    box-sizing: border-box;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --bg-color: #FCFBF8;
    --fg-color: #242321;
    --primary-color: #71706E;
    --tertiery-color: #CFCFCF;
}
header{
    font-size: 1.2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_items{
    display:flex;
}
.nav_item{
    padding: .6rem;
}
.social_links{
    display: flex;
    align-items: center;
}

body{
    background-color:var(--bg-color);
    color: var(--fg-color);
    width: 80%;
    margin:auto;
}

.hero{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 7rem;
}
.name{
    font-size: 7rem;
    font-weight: 300;
}
.bio{
    width: 60%;
}